#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlr
*.yaml          text eol=auto
*.yml           text eol=auto
*.sh            text eol=lf
*.tmpl          text eol=lf
*.properties    text eol=lf
#*.go            text eof=auto

